@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD;
}

.estagio {
    color: #22D4FD;
}

.apresentacao-pai {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.apresentacao__filho {
    width: 615px;

}

.apresentacao__filho__titulo {
    font-size: 36;
    font-family: "Krona one", sans-serif;
}

.apresentacao__filho__texto {
    font-size: 24;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
}