body {
    background-color: black;
    color: #F6F6F6;
}


button {
    background-color: green;
    color: white;
}

header {
    background-color: lightblue;
    color: white;
}

p {
    color: darkgray;
}

footer {
    background-color: grey;
    color: white;
}

a {
    color: blue;
}

strong {
    color: #22D4FD;
}